#### AutoBackup 配置文件
#### Made By BlueFunny_

### 版本号 ###
# !!!此项不可为空!!!
# 不懂勿动!
configVersion="1.6"

### 通用设置 ###

# 语言
# 可以是 zh_cn / en_us 两种语言
# 类型: 字符型
# 默认: zh_cn
localize="zh_cn"

# 是否启用自动备份
# 类型: 布尔型
# 默认: true
enabled="true"

### 备份相关 ###
## 文件相关
# 备份槽位数量 (即本地最多保留多少份备份)
# 类型: 整数型
# 默认: 3 
solt=3

# 备份文件名
# 可以自动转换时间戳, 变量为 ${timestamp}
# 类型: 字符型
# 默认: ${timestamp}.tar.gz
fileName="${timestamp}.tar.gz"

# 备份文件拥有者
# 不可为 root (除非启用下一项)
# 类型: 字符型
# 默认: nobody
userName="nobody"

# 允许备份文件拥有者为 root
# 不推荐, 可能会导致文件无法访问的问题
# 类型: 布尔型
# 默认: false
allowRoot="false"

## 位置相关
# 需要备份的文件列表文件
# 类型: 字符型
# 默认: ./backup.list
backupList="./backup.list"

# 备份存储文件夹路径
# 类型: 字符型
# 默认: /home/${userName}/Backup
backupDir="/home/${userName}/Backup"

# 工作文件夹目录
# 类型: 字符型
# 默认: ${backupDir}/work
workDir="${backupDir}/work"

## 其他
# 是否生成文件摘要 (验证文件)
# 类型: 布尔型
# 默认: False
genDigest="false"

### 其他 ###
# 备份前执行脚本
# 类型: 字符型
# 默认: ""
preBackup=""

# 备份后执行脚本
# 类型: 字符型
# 默认: ""
postBackup=""

### 调试区 ###
# debug模式
# 类型: 布尔型
# 默认: False
debug="false"

# 跳过备份 (需要启用debug模式)
# 类型: 布尔型
# 默认: False
skipBackup="false"